#compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
# Packages
*.egg
*.egg-info

test/*
bin/*

autom4te.cache
Makefile
Makefile.in
